
body { 
    font-size: 62,5%;
    font-family: 'Roboto', 'Quicksand', sans-serif;
}
.gutter {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.gutter-z {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.gutter-r {
    padding-left: 0 !important;
    padding-right: 5px !important;
}
.gutter-l {
    padding-left: 5px !important;
    padding-right: 0 !important;
}
.main {
    padding-top: 60px;
}
.important-ques__item-title {
    cursor: pointer;
    border: none;
    transform: 0.4s;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-right: 8px;
}
.important-ques__item-content {
    max-height: 0;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.menu-mobile-select-lang__list {
    max-height: 0;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
li {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
label {
    margin-bottom: 0;
}
button:focus {
    outline:0;
}
#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;
    background-color: #f9f9f9;
    /* background-image: url("../img/background-top.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
a {
    text-decoration: none !important;
}
.bitcoin {
    color: #f68d17;
}
.usdt {
    color: #00a478;
}
.litecoin {
    color: #666;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*checkbox*/
.checkbox-notify {
    appearance: none;
    visibility: hidden;
    display: none;
}
.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color:#666;
    cursor: pointer;
    border-radius: 20px;
    transition: ease-in 0.5s;
}
/* .checkbox-notify:checked ~ .check {
    background-color: #9c71ff;
} */
.check::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
#checkbox-mes:checked ~ .check::before {
    transform: translateX(20px);
}
#checkbox-mes:checked ~ .check {
    background-color:#9c71ff;
}
#checkbox-notify:checked ~ .check::before {
    transform: translateX(20px);
}
#checkbox-notify:checked ~ .check {
    background-color:#9c71ff;
}
#checkbox-wallet:checked ~ .check::before {
    transform: translateX(20px);
}
#checkbox-wallet:checked ~ .check {
    background-color:#9c71ff;
}
/*checkbox*/
.breadcrumb {
    background-color: #fff;
    padding-left: 12px;
    font-family: Roboto;
}
.breadcrumb-item a {
    color: #7d4bf1;
    font-weight: 500;
}
.breadcrumb-item a:hover {
    color: #7d4bf1;
    opacity: 0.8;
    text-decoration: none;
}
/*checkbox*/
/* The checkbox-content */
.checkbox-content {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-content:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-content input:checked ~ .checkmark {
    background-color:rgb(248, 171, 77);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-content input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-content .checkmark:after {
    left: 8px;
    top: 1px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*checkbox*/
/*checkbox-radio*/
.check-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.check-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.check-radio input:checked ~ .checkmark-radio {
    background-color: #7d4bf1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-radio input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.check-radio .checkmark-radio:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}