@media (min-width: 1113px) {
    .col-2-4 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}
@media only screen and (max-width: 1023px){
    .hide-on-tablet-mobile {
        display: none;
    }
    .menu-mobile {
        display: flex;
    }
    .market-trading-price-wapper {
        flex-direction: column;
    }
    .home-wallet__content-mobile {
        padding-top: 20px;
    }
    .pay {
        flex-direction: column-reverse;
    }
    .wallet-list {
        margin-bottom: 30px;
    }
    .product-content-item-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .product-content-wapper {
        flex-direction: column;
    }
    .product-content {
        margin: 0;
        padding: 20px 30px;
        margin-bottom: 20px;
    }
    .product-content-item-title {
        padding-bottom: 12px;
    }
    .product-content-item {
        padding-bottom: 20px;
    }
    .product-content-item-info-link {
        width: 50%;
    }
    .background-search {
        padding: 20px;
    }
    .market-filter {
        flex-direction: column;
        align-items: flex-start;
    }
    .market-filter__select {
        width: 100%;
        margin-left: 0;
    }
    .home-product__item-img {
        height: auto;
    }
    .main-header-banner__list {
        display: none;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .home-wallet__content {
        height: 260px;
    }
}
@media only screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .gutter-r {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .gutter-l {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .price-now__item {
        margin-bottom: 20px;
    }
    .item-content {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .item-content-img {
        width: 100%;
        height: 200px;
    }
    .item-content-title {
        font-size: 1.2rem;
    }
    .item-content-text {
        font-size: 1rem;
    }
    .account-content__item-wapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .account-content__text{
        flex: 0;
    }
    .account-content__title {
        min-width: 0;
    }
    .account-content__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .account-content__item-wapper {
        flex: 0;
    }
    .account-content__text {
        margin: 12px 0;
    }
    .account-content__save,
    .account-content__edit,
    .account-content__change-pass {
        width: 50%;
        margin-top: 12px;
    }
    .pay-info {
        padding: 20px 0;
    }
    .pay-user,
    .pay-info-trade {
        flex-direction: column;
    }
    .account-content {
        padding: 10px 20px;
    }
    .home-product__item-img--wapper {
        max-width: 204px;
    }
    .home-product__item-wapper {
        padding-top: 68px;
    }
    .home-product__item-img {
        height: 130px;
    }
    .home-product__item-title {
        font-size: 1.4rem;
    }
    .home-product__item-text {
        font-size: 0.8rem;
    }
    .home-wallet__content {
        height: 280px;
    }
    .trending-item {
        padding-top: 40px;
    }
    .home-member-link {
        margin-top: 20px;
    }
    .register-input__wapper-email {
        flex-direction: column;
        align-items: flex-start;
    }
    .register-wapper {
        padding-bottom: 12px;
        width: 100%;
    }
    .menu-mobile__notify-list {
        padding: 40px 12px;
    }
    .main-header__title {
        font-size: 1.8rem;
    }
    .about-us__sub {
        font-size: 1rem;
    }
    .about-us-item {
        margin-bottom: 20px;
    }
    .member-item {
        padding: 20px 10px;
    }
    .wallet-item__action-button,
    .wallet-item__action-button--more {
        margin-bottom: 16px;
    }
    .create-offer__item-content,
    .member-update-price__wapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .create-offer__item-content--select {
        width: 100%;
    }
    .change-password__wapper {
        flex-direction: column;
        align-items: flex-end;
    }
}