.menu-wapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color:hsla(0,0%,100%,.9);
    font-family: Roboto;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    height: 60px;
    z-index: 99;
}
.menu-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
.menu-item {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.menu-item__list {
    padding: 20px 0;
    width: 180px;
    position: absolute;
    top: 40px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    display: none;
    border-radius: 5px;
}
.menu-item__list::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: transparent;
}
.menu-item__link {
    padding: 6px 16px;
    color: #333;
    display: block;
    transition: all linear 0.3s;
}
.menu-item__link:hover {
    background-color: #9c71ff;
    color: #fff;
    padding-left: 24px;
}
.menu-item:hover .menu-item__list  {
    display: block;
}
.menu-link,
.menu-link-login {
    color: #666;
    display: inline-block;
}
.menu-item__notify {
    position: relative;
}
.menu-select-lang {
    display: flex;
    border: none;
    color: #666;
    background-color: transparent;
    padding: 8px 16px;
    transition: all linear 0.3s;
}
.menu-select-lang:hover {
    color: rgba(173,135,255);
}
.menu-select-lang__list {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 0;
    width: 120px;
    display: none;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
.menu-select-lang__text {
    padding-left: 12px;
}
.menu-item.active .menu-select-lang__list {
    display: block;
}
.menu-select-lang__button {
    border: none;
    padding: 12px;
    width: 100%;
    background-color: #fff;
    text-align: left;
    transition: all linear 0.3s;
}
.menu-select-lang__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
    display: none;
}
.menu-mobile-select-lang__button {
    display: block;
    padding: 12px 0;
    color:  rgb(173,135,255);
}
.menu-mobile-select-lang__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-mobile-select-lang__button:hover {
    color:  rgb(173,135,255);
    text-decoration: none;
}
.menu-select-lang__overlay.active {
    display: block;
}
.menu-select-lang__button:hover {
    background-color: rgb(173,135,255);
    color: #fff;
}
.menu-item__notify-list {
    position: absolute;
    top: 40px;
    right: 0;
    width: 600px;
    z-index: 85;
    background-color: #fff;
    border: 1px solid #e9eaef;
    box-shadow: 1px 2px 2px rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 16px 20px;
    display: none;
    max-height: 50vh;
    overflow-y: scroll;
}
.overlay-menu-notify {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 0;
    display: none;
}
#checkbox-menu-notify:checked ~ .menu-item__notify-list {
    display: block;
}
#checkbox-menu-notify:checked ~ .overlay-menu-notify {
    display: block;
}
.menu-item__notify-item {
    padding-top: 12px;
}
.menu-item__notify-link {
    display: inline-block;
}
.menu-item__notify-link:hover {
    text-decoration: none;
}
.menu-item__notify-text {
    color: #222;
    transition: all linear 0.3s;
    border-left: transparent solid 2px;
}
.menu-item__notify-link:hover .menu-item__notify-text{
    padding-left: 8px;
    border-left: #7d4bf1 solid 2px;
}
.menu-item__notify-title {
    color: #7d4bf1;
    padding-bottom: 8px;
}
.menu-item__notify-icon {
    font-size: 1.2rem;
    color: rgba(173,135,255,.8);
}
.menu-link:hover,
.menu-link-login:hover,
.menu-item__notify-icon:hover {
    color: rgba(173,135,255);
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}
.menu-link__market {
    background-color: #7d4bf1;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 12px 16px;
    transition: all linear 0.3s;
    border: #7d4bf1 solid 1px;
}
.menu__logo {
    color: #7d4bf1;
    font-size: 30px;
    font-family: Roboto;
}
.menu__logo:hover {
    opacity: .8;
    text-decoration: none;
    color: #7d4bf1;
}
.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: none;
    background-color: #f9f9f9;
}
.menu-mobile__list {
    position: absolute;
    top: 40px;
    left: -120%;
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh;
    transition: all linear 0.3s;
    text-align: center;
    padding: 40px 0;
    overflow-y: scroll;
}
.menu-mobile__list::-webkit-scrollbar {
    display: none;
}
.menu-mobile__notify-list {
    position: absolute;
    top: 40px;
    right: -120%;
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh;
    transition: all linear 0.3s;
    padding: 40px 20px;
}
.menu-mobile__item {
    padding: 16px 0;
}
#menu-mobile__checkbox:checked ~ .menu-mobile__list {
    left: 0;
}
#checkbox-menu-mobile-notify:checked ~ .menu-mobile__notify-list {
    right: 0;
}
.menu-mobile__close {
    position: absolute;
    top: 10px;
    left: 10px;
}
.menu-mobile__close-notify {
    position: absolute;
    top: 10px;
    right: 10px;
}
.menu-mobile__link__market {
    color: #fff;
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #7d4bf1;
}
.menu-mobile__link__market:hover {
    background-color: #7d4bf1;
    opacity: 0.8;
    text-decoration: none;
}
.menu-mobile__link,
.menu-mobile__link-view,
.menu-mobile__link-login {
    color: rgba(173,135,255,.8);
    display: block;
    padding-top: 16px;
}
.menu-mobile__link-login-link {
    display: inline-block;
    color:#7d4bf1;
    padding: 8px;
}
.menu-mobile__icon {
    color: #7d4bf1;
}
.menu-mobile__icon:hover {
    opacity: 0.8;
    cursor: pointer;
}
.menu-mobile__link:hover,
.menu-mobile__link-login:hover {
    color: rgba(173,135,255);
    text-decoration: none;
}
.menu-login__list {
    display: flex;
    align-items: center;
}
.menu-login__link {
    color: #7d4bf1;
    padding: 0 12px;
}
.menu-login__link-account {
    color: #666;
}
.menu-login__item {
    position: relative;
}
.menu-login__item:last-child::after {
    content: "";
    width: 1px;
    height: 60%;
    position: absolute;
    background-color: #ccc;
    left: 0;
    top: 80%;
    transform: translateY(-100%);
    
}
.menu-login__link:hover {
    color: #7d4bf1;
    opacity: 0.8;
    text-decoration: none;
}
#your-wallet,
#items,
#trending-items,
#question,
#about-us {
    padding-top: 100px;
}
.home-wallet__content {
    padding: 10px;
    border: #eee solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: transparent;
}
.home-wallet__content-button-wapper {
    display: flex;
}
.home-wallet__content-button {
    width: 100%;
    border: #eee solid 1px;
    padding: 12px 0;
    font-weight: 500;
    font-family: Roboto;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.home-wallet__content-button:hover {
    color: #999;
}
.home-wallet__content-text {
    color: #666;
    padding: 16px 0;
}
.important-ques__wapper {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}
.important-ques__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.important-ques__item-title:hover {
    opacity: 0.8;
    cursor: pointer;
}
.important-ques__item-content {
    color: #666;
}
.important-ques__item-title-icon {
    font-size: 1.4rem;
    color: #7d4bf1;
}
.important-ques__item {
    padding: 20px 0;
    border-top: #ccc solid 1px;
    font-family: Roboto;
}
.important-ques__item:last-child {
    border-bottom: #ccc solid 1px;
}
/*home*/
.footer-wapper {
    display: flex;
    font-family: Roboto;
    padding: 40px 0;
    flex-wrap: wrap;
}
.footer-logo {
    color: #9c71ff;
    font-size: 2rem;
}
.footer-logo:hover {
    opacity: 0.8;
    color: #9c71ff;
    text-decoration: none;
}
.footer-title {
    font-size: 1.4rem;
    font-weight: 500;
}
.footer-item {
    display: block;
    padding-top: 12px;
    color: #666;
}
.footer-item:hover {
    color: #111;
    text-decoration: none;
}
/*footer*/
.market-trading-wapper {
    background-color: #fbfbfb;
    padding: 80px 0;
    margin-bottom: 30px;
}
.market-trading {
    display: flex;
    flex-wrap: wrap;
}
.market-trading-item__icon img {
    width: 40px;
    height: 40px;
}
.market-trading-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: #ccc solid 1px;
}
.market-trading-item:last-child {
    border-bottom: transparent solid 1px;
}
.market-trading-seclect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 16px;
    border: rgb(255, 182, 40) solid 1px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.market-trading-seclect__list {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: none;
    z-index: 10;
}
.market-trading-seclect__item {
    padding: 12px 16px;
    border-bottom: rgb(255, 182, 40) solid 1px;
    transition: all linear 0.3s;
}
.market-trading-seclect__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 2;
}
.market-trading-seclect.active .market-trading-seclect__overlay,
.market-trading-seclect.active .market-trading-seclect__list {
    display: block;
}
.market-trading-seclect__item:hover {
    background-color:  rgb(255, 182, 40);
    cursor: pointer;
}
.market-trading-price-wapper {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.market-trading-price {
    padding: 20px 30px;
    transition: all linear 0.3s;
}
.market-trading-price:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
.market-trading-seclect-wapper {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    padding: 40px 30px;
}
.market-trading-price__value {
    padding: 12px 0;
    font-size: 1.2rem;
    font-family: Roboto;
    font-weight: 500;
}
.market-trading-item__img svg {
    width: 40px;
    height: 40px;
    color: #111;
}
.market-trading-search__title {
    display: flex;
    align-items: center;
}
.market-trading-search__img {
    width: 20px;
    height: 20px;
}
.market-trading-search__name {
    font-size: 0.9rem;
    padding-left: 12px;
    font-family: Roboto;
    font-weight: 500;
}
.market-trading-price__title {
    font-family: Roboto;
    font-weight: 500;
}
.market-trading-price__link {
    display: inline-block;
    transition: all linear 0.3s;
    padding: 6px 20px;
    color: rgb(245, 139, 3);
    background-color: #fff;
    border: rgb(245, 139, 3) solid 1px;
}
.market-trading-price__link:hover {
    color: #fff;
    background-color: rgb(245, 139, 3);
}
.buy {
    color: #299d82;
}
.sell {
    color: #e13535;
}
.market-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.market-filter__select {
    padding: 8px 12px;
    margin-left: 12px;
}
.price-now__item-wapper {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.product-content {
    cursor: default;
    background: #fff;
    color: inherit;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform linear 0.1s;
    will-change: transform;
    padding: 25px 30px;
    border-radius: 10px;
}
.product-title {
    font-size: 20px;
    padding: 16px 0;
}
.product-content:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
}
.product-content-wapper {
    display: flex;
}
.product-content-item-wapper {
    flex: 1 1;
}
.product-content-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-content-item-info {    
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-content-item {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: Roboto;
}
.name {
    color: #7d4bf1;
    font-weight: 500;
}
.product-content-item-info-sale {
    color: #ccc;
}
.product-content-item-info-link {
    display: inline-block;
    background-color: #7d4bf1;
    color: #fff;
    padding: 4px 20px;
    border-radius: 10px;
    transition: all linear 0.3s;
    border: transparent solid 1px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 8px;
}
.product-content-item-info-link:hover {
    background-color:#fff;
    color: #7d4bf1;
    border: #7d4bf1 solid 1px;
    text-decoration: none;
}
.product-content-item-title {
    display: flex;
    align-items: center;
}
.product-content-item-title__wallet {
    font-weight: 500;
}
.product-content-item-img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    color: #7d4bf1;
}
.product-view-more {
    display: inline-block;
    background-color: #7d4bf1;
    color: #fff;
    padding: 4px 20px;
    border-radius: 15px;
    transition: all linear 0.3s;
    border: transparent solid 1px;
    font-size: 20px;
}
.product-view-more:hover {
    background-color:#fff;
    color: #7d4bf1;
    border: #7d4bf1 solid 1px;
    cursor: pointer;
    text-decoration: none;
}
.product-wapper {
    padding: 20px 0;
}
.pay {
    display: flex;
    font-family: Roboto;
}
.pay-content__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 500;
}
.pay-info-trade {
    display: flex;
    justify-content: space-between;
}
.pay-info {
    padding: 20px;
    border-bottom: #ccc solid 1px;
}
.pay-info-price {
    font-weight: 500;
    padding-bottom: 12px;
}
.pay-content__price {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 12px;
}
.pay-content__title {
    font-size: 20px;
    font-weight: 500;
}
.pay-content__price-input {
    border: none;
    flex: 1;
    background-color: transparent;
    outline: none;
    margin-left: 12px;
}
.pay-content__price-img {
    width: 20px;
    height: 20px;
}
.pay-content-mess__input {
    width: 100%;
}
.pay-content-link {
    background-color: #7d4bf1;
    color: #fff;
    display: inline-block;
    padding: 8px 12px;
    width: 90%;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-top: 16px;
}
.pay-content-link:hover {
    text-decoration: none;
    background-color: #9c71ff;
    color: #fff;
}
.pay-user {
    display: flex;
}
.pay-user-profile__title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 0;
}
.pay-user-profile__content {
    display: flex;
}
.pay-user-profile__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.pay-user-profile__info-name {
    color: #7d4bf1;
    font-size: 1.2rem;
}
.pay-user-profile__info-name:hover {
    color: #7d4bf1;
}
.pay-user-profile__info-text {
    padding-top: 12px;
    color: #888;
}
.pay-user-trade__content-wapper {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 8px 16px;
    color: #888;
}
.pay-content-mess__title {
    padding-bottom: 12px;
    font-weight: 500;
}
.contact-trade-mess-box {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.contact-trade-mess-title {
    font-size: 18px;
}
.contact-trade-mess-send {
    padding: 6px 8px;
    border-radius: 10px;
    background-color: #7d4bf1;
}
.contact-trade-mess-send-wapper {
    display: flex;
    justify-content: flex-end;
}
.contact-trade-mess-reply-wapper {
    display: flex;
    justify-content: flex-start;
}
.contact-trade-mess-reply {
    padding: 6px 8px;
    border-radius: 10px;
    background-color: #ccc;
}
.contact-trade-mess-input-wapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.contact-trade-mess-input {
    flex: 1;
    padding: 6px 8px;
}
.contact-trade-mess-button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #666;
    border-radius: 15px;
    margin-left: 12px;
}
/* show-product */
.product-content__list-wapper {
    text-align: right;
}
.product-content__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-content__button {
    background-color: #fff;
    border: none;
    color: #666;
    padding: 8px 12px;
    cursor: pointer;
}
.product-content__button-dot {
    padding: 8px 10px;
}
.product-content__button:hover {
    background-color: #ccc;
}
/* show-product */
/*signin*/
.signin {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    font-family: Roboto;
}
.signin-wapper {
    background-color: #f9f9f9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-logo {
    font-size: 2.4rem;
    color: #7d4bf1;
}
.signin-input__wapper {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    padding: 12px 20px;
    width: 100%;
    margin-top: 16px;
    align-items: center;
    position: relative;
}
.register-input__wapper-email {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    padding: 12px 20px;
    width: 100%;
    margin-top: 16px;
    align-items: center;
}
.signin-input__input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 16px;
}
.signin-another__list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.signin-another__link {
    display: block;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px rgba(0, 0, 0, 0.16);
    transition: transform linear 0.1s;
    will-change: transform;
}
.signin-another__icon {
    width: 30px;
    height: 30px;
    display: block;
}
.signin__forgot-pass {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 12px;
}
.signin__forgot-pass--link {
    color: #666;
}
.signin__forgot-pass--link:hover {
    text-decoration: underline !important;
    color: #666;
}
.register-icon {
    font-size: 1.2rem;
    color: #7d4bf1;
}
.signin-another__link:hover {
    transform: translateY(-1);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;
}
.register__link {
    transform: translateY(-1);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;

}
.signin-button {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    background-color: #9c71ff;
    border: #9c71ff solid 1px;
    transition: all linear 0.3s;
    margin: 16px 0;
}
.signin-another-text {
    padding: 20px 0;
}
.signin-button:hover {
    color: #9c71ff;
    background-color: #fff;
}
/*signin*/
/*account*/
.account {
    font-family: Roboto;
}
.account-content {
    padding: 30px 40px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border-radius: 10px;
    margin-bottom: 40px;
}
.member-content {
    padding: 40px 0;
    background-color: #eee;
}
.account-content__title {
    font-size: 1rem;
    min-width: 180px;
}
.account-title {
    font-size: 1.2rem;
    padding: 20px 40px;
    font-size: 1.6rem;
}
.account-content__text-value,
.account-content__text-value--blurb {
    flex: 1;
    border: none;
    color: #666;
    list-style: 1.2rem;
    max-height: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-right: 20px;
}
.account-content__text {
    border-radius: 20px;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
.account-content__text-input {
    border-radius: 20px;
    padding: 8px 12px;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
.account-content__text-wapper {
    flex: 1;
}
.account-content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.account-content__item-wapper {
    display: flex;
    align-items: center;
    flex: 1;
}
.account-content__button {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 6px 12px;
    border: #f9f9f9 solid 1px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.16);
    transition: all linear 0.1s;
}
.account-content__change-pass {
    display: inline-block;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 4px 12px;
    border: #f9f9f9 solid 1px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.16);
    transition: all linear 0.1s;
    color: #111;
    text-align: center;
}
.account-content__save {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 6px 12px;
    border: #f9f9f9 solid 1px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.16);
    transition: all linear 0.1s;
    display: none;
}
.account-content__button:disabled:hover {
    color: #999;
    text-decoration: none;
    transform: translateY(0);
}
.account-content__button:hover {
    color: #111;
    text-decoration: none;
    transform: translateY(-1px);
}
.account-content__button-link {
    background-color: #7d4bf1;
    border: #7d4bf1 solid 1px;
    color: #fff;
    transition: all linear 0.3s;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 1.2rem;
    margin-top: 12px;
}
.account-content__button-link:hover {
    background-color: #fff;
    color: #7d4bf1;
}
.confirm-phone__get-code {
    border: transparent solid 1px;
    background-color: transparent;
    font-weight: 500;
    padding: 5px;
    transition: all linear 0.3s;
}
.confirm-phone__get-code:hover {
    background-color:  #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    transform: translateY(-1px);
}
.change-password__edit-input {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    outline: none;
    flex: 1;
    margin: 30px 0;
}
.change-password__text {
    padding-bottom: 20px;
    font-size: 0.9rem;
}
.change-password__edit-title {
    font-weight: 500;
    font-family: Roboto;
    font-size: 1.2rem;
}
.change-password__title {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 20px;
}
.confirm-phone__button:disabled,
.confirm-email__button:disabled {
    background-color: #555;
}
.confirmed-text {
    display: none;
}
.unconfirm-text {
    display: none;
}
.account-content__text-value.confirmed .confirmed-text,
.account-detail__content.confirmed .confirmed-text {
    display: unset;
    color: #299d82;
}
.account-content__text-value.unconfirm .unconfirm-text,
.account-detail__content.unconfirm .unconfirm-text  {
    display: unset;
    color: #e13535;
}
/* member */
.member-update {
    padding: 0 40px;
    padding-top: 20px;
}
.member-update__item-discount {
    font-size: 1rem;
    display: flex;
}
.member-update__item-discount--text {
    padding-left: 12px;
}
.member-update__button-content--img {
    width: 60px;
    height: 30px;
}
.member-update__item {
    padding-bottom: 20px;
}
.member-update__item-text {
    padding: 12px 0;
}
.bold {
    font-weight: 500;
}
.member-update__button-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.member-update__button-item {
    padding: 20px;
}
.member-update__button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}
.member-update__button-content--text {
    padding-top: 12px;
}
.non-member,
.member-silver,
.member-gold,
.member-diamond {
    display: flex;
    align-items: center;
    display: none;
    font-weight: 500;
}
.member-silver {
    color: #9d9b9b;
}
.member-gold {
    color: rgb(247, 215, 37);
}
.member-diamond {
    color: #54a8d1;
}
.member-icon {
    width: 24px;
    height: 18px;
    margin-right: 8px;
    margin-bottom: 4px;
}
.non-member {
    color: #666;
}
.member-rule__title {
    font-weight: 500;
    font-family: Roboto;
    font-size: 1.4rem;
    color:  rgb(245, 139, 3);
}
.member {
    display: flex;
    flex-wrap: wrap;
}
.member-item {
    border-top: #7d4bf1 solid 5px;
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.member-rule__item {
    padding-top: 12px;
    font-size: 1.2rem;
}
.member-item__title {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
}
.member-item__icon {
    width: 70px;
    height: 50px;
    margin-bottom: 8px;
}
.member-item__interest-list {
    padding: 40px 10px;
    border-bottom: #ccc solid 1px;
    border-top: #ccc solid 1px;
    font-weight: 500;
    min-height: 220px;
}
.member-item__interest-item {
    padding: 10px 0;
}
.member-item__interest-item--icon {
    color: #7d4bf1;
    margin-right: 8px;
}
.member-rate {
    color: rgb(245, 139, 3);
}
.member-rule__item-icon {
    color: rgb(245, 139, 3);
    padding-right: 12px;
}
.member-item__button {
    background-color: #7d4bf1;
    color: #fff;
    border: #7d4bf1 solid 1px;
    border-radius: 5px;
    transition: all linear 0.3s;
    padding: 12px 0;
    margin-top: 30px;
    width: 100%;
}
.member-item__button:hover {
    background-color: #fff;
    color: #7d4bf1;
}
.member-logo {
    padding-bottom: 12px;
    padding-left: 16px;
}
.member-logo-silver {
    font-size: 2.5rem;
    color: #9d9b9b;
}
.member-logo-gold {
    font-size: 2.5rem;
    color:  rgb(247, 215, 37);
}
.member-logo-diamond {
    font-size: 3.5rem;
    color: #54a8d1;
}
.member-update-price__wapper {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
}
.member-update-price {
    padding-right: 12px;
}
.member-update-price__space {
    margin-top: 20px;
}
/* member */
.account-detail__content.non .non-member,
.account-detail__content.silver .member-silver,
.account-detail__content.gold .member-gold,
.account-detail__content.diamond .member-diamond {
    display: flex;
}
.account-content__text-area {
    width: 100%;
}
.confirm-blurb__textarea {
    width: 100%;
    background-color: #f9f9f9;
    color: #111;
    outline: none;
    padding: 12px;
    border-radius: 10px;
}
.cancer-button {
    background-color: #999;
}
/*account*/
/* account-detail */
.account-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-detail__item {
    padding-bottom: 16px;
}
.account-detail__title {
    font-weight: 500;
}
.account-detail-wapper {
    display: flex;
    flex-wrap: wrap;
}
/* account-detail */
.option-wapper {
    display: flex;
    align-items: center;
}
.option-img {
    width: 50px;
    height: 40px;
}
/* wallet */
.wallet {
    display: flex;
    font-family: Roboto;
    flex-wrap: wrap;
}
.wallet-title {
    padding: 20px;
    background: #fff;
    color: #333;
    /* border-top: rgba(0,0,0,.125) solid 1px;
    border-left: rgba(0,0,0,.125) solid 1px;
    border-right: rgba(0,0,0,.125) solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}
/* .wallet-list {
    border-bottom: rgba(0,0,0,.125) solid 1px;
    border-left: rgba(0,0,0,.125) solid 1px;
    border-right: rgba(0,0,0,.125) solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */
.button-password-show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.wallet-item {
    padding: 12px 0;
    border-left: rgb(245, 139, 3) solid 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    border-radius: 5px;
    transition: all linear 0.3s;
}
.wallet-item:hover {
    transform: translateY(-2px);
}
.wallet-item__wapper {
    padding: 16px;
    display: flex;
} 
.wallet-item__title-img--icon {
    background-color: red;
    color: #fff;
    font-size: 0.8rem;
}
.wallet-item__content {
    padding-left: 12px;
}
.wallet-item__title-value {
    padding: 12px 0;
}
.wallet-item__action {
    display: flex;
    flex-wrap: wrap;
}
.wallet-item__action-button--more {
    position: relative;
    background-color: #ebecf0;
    padding: 8px 12px;
    color: #999;
    border-radius: 5px;
    border: transparent;
}
.wallet-item__action-button--more:hover {
    cursor: pointer;
    background-color: #ccc;
}
.wallet-title__content-text {
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: 500;
}
.wallet-title__content-contact {
    border: #7d4bf1 solid 1px;
    background-color: #fff;
    color: #49474a;
    transition: all linear 0.3s;
    padding: 8px 12px;
    border-radius: 5px;
}
.wallet-title__content-contact:hover {
    color: #fff;
    background-color: #7d4bf1;
}
.wallet-item__action-link {
    display: block;
    color: #888;
    transition: all linear 0,3s;
    padding: 8px 0;
    text-align: left;
}
.wallet-item__action-link:hover {
    text-decoration: none;
    color: #666;
}
.wallet-item__title-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallet-item__title-text {
    font-size: 1rem;
    font-weight: 500;
}
.wallet-item__action-button {
    outline: none;
    border-radius: 5px;
    border: transparent solid 1px;
    padding: 8px 12px;
    transition: all linear 0.3s;
    margin-right: 12px;
}
.wallet-item__action-button--deposit {
    background-color: #f93e7e;
    border:#f93e7e solid 1px;
    color: #fff;
}
.wallet-item__action-button--deposit:hover {
    color:#f93e7e;
    background-color:  #fff;
}
.wallet-item__action-button--withdrawal {
    background-color: #f9f9f9;
    border: #ccc solid 1px;
}
.wallet-item__action-button--withdrawal:hover{
    background-color:#888;
    color: #fff;
}
.wallet-item__action-button--swap {
    color: #fff;
    background-color: #49474a;
    transition: all linear 0.3s;
}
.wallet-item__action-button--swap:hover {
    opacity: 0.8;
}
.wallet-content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    padding: 12px 0;
}
.wallet-content__title {
    font-weight: 500;
    color: #333;
}
/* wallet */
/*confirm-wallet*/
.confirm-wallet__item {
    padding: 20px 16px;
    background-color: #fefdf3;
    border-color: transparent;
    border-left: 3px solid #ffab00;
    margin-bottom: 20px;
}
.confirm-wallet__content-item {
    display: flex;
    align-items: center;
}
.confirm-wallet__content-item-input {
    flex: 1;
    background-color: #fff;
    color: #666;
    border: none;
}
.confirm-wallet__content-item--button {
    border: none;
    background-color: transparent;
    margin: 0 16px 0 8px;
}
.confirm-wallet__content-img {
    width: 300px;
    height: 180px;
}
.confirm-wallet__content-img--wapper {
    margin: 20px 0;
    text-align: center;
    position: relative;
}
.confirm-wallet__content-img--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #eee solid 1px;
}
.confirm-wallet__content-img--icon:hover {
    cursor: pointer;
}
.confirm-wallet__content {
    border: 1px solid #dcdcdc;
    background: #fff;
    box-shadow: 0 5px 12px rgba(0,0,0,.06);
    padding: 40px;
}
.confirm-wallet__item-title {
    color: #7d4bf1;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 20px;
}
.confirm-wallet__content-title {
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-weight: 500;
}
.confirm-phone__input-wapper {
    margin-bottom: 20px;
}
.confirm-phone__text {
    padding-bottom: 12px;
}
.confirm-phone__input-content {
    align-items: center;
    display: flex;
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 12px;
}
.confirm-phone__input {
    flex: 1;
    background-color: transparent;
    padding: 8px 12px;
    border: none;
    outline: none;
}
.confirm-phone__content {
    border-bottom: rgba(0,0,0,.125) solid 1px;
    border-left: rgba(0,0,0,.125) solid 1px;
    border-right: rgba(0,0,0,.125) solid 1px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    border-bottom-right-radius: 5px;
}
.confirm-phone__input-button {
    background-color:#299d82;
    transition: all linear 0.3s;
}
.confirm-phone__title {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.confirm-phone__input-button:hover {
    opacity: 0.7;
}
/*confirm-wallet*/
/*wallet-history*/
.wallet-history {
    padding-bottom: 12px;
    border-bottom: #ccc solid 1px;
    text-align: center;
}
.wallet-history__content-item--empty {
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    display: none;
}
.wallet-history__select-button {
    border: none;
    background-color: transparent;
    transition: all linear 0.3s;
    font-weight: 500;
    padding: 0 16px;
}
.wallet-history__select-button:focus,
.wallet-history__select-button:active {
    color: #7d4bf1;
}
.wallet-history__select-button:hover {
    color: #7d4bf1;
}
.wallet-history__content-item.empty .wallet-history__content-item--empty {
    display: block;
}
.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
    font-family: Roboto;
}
.history-item__title {
    font-weight: 500;
}
.history-item__code {
    color: #9c71ff;
}
.status-done,
.status-wait {
    display: none;
}
.history-item__status.done .status-done{
    display: unset;
    color: #299d82;
}
.history-item__status.wait .status-wait{
    display: unset;
    color: #e13535;
}
.history-list {
    padding: 16px 0;
    border-bottom: #ccc solid 1px;
}
.history-item {
    padding-bottom: 12px;
}
.value-withdraw,
.value-deposit {
    display: none;
}
.history-item__value.withdraw {
    color: #e13535;
}
.history-item__value.deposit {
    color: #299d82;
}
.history-item__value.withdraw .value-withdraw{
    display: unset;
}
.history-item__value.deposit .value-deposit{
    display: unset;
}
/*wallet-history*/
/*wallet-detail*/
.wallet-detail__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wallet-detail__total-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 0;
}
.wallet-detail__total-wapper {
    padding: 16px;
    border-bottom: #ccc solid 1px;
}
.wallet-detail__send {
    padding: 10px 20px;
}
.wallet-detail__send-input {
    background: rgba(17,17,17,.05);
    border-radius: 6px;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    outline: none;
}
.wallet-detail__send-button {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(248, 171, 77);
    color: #fff;
    transition: all linear 0.3s;
    border: rgb(248, 171, 77) solid 1px;
    outline: none;
    margin-top: 16px;
    border-radius: 15px;
}
.wallet-detail__send-button:hover {
    background-color: #fff;
    color:rgb(248, 171, 77);
}
.wallet-detail-trans {
    display: inline-block;
    padding: 8px 20px;
    border: #eee solid 1px;
    border-radius: 20px;
    margin-left: 20px;
    color: #111;
    transition: all linear 0.1s;
    margin-top: 20px;
}
.wallet-detail-trans:hover {
    color: #111;
    text-decoration: none;
    transform: translateY(-2px);
}
/*swap-money*/
.swap-phone-content,
.withdraw-vnd__content,
.wallet-history__wapper {
    border: #ccc solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
.wallet-content {
    border-left: rgb(255, 182, 40) solid 3px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    border-top-left-radius: 5px;
    margin-top: 20px;
}
.swap-money-value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.swap-money-item__wapper {
    display: flex;
    flex-wrap: wrap;
}
.swap-money-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    border: #ccc solid 1px;
    cursor: pointer;
    margin-right: 12px;
}
.swap-money-value {
    padding: 50px 0;
}
.swap-money-item__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
}
.swap-money-item__text {
    font-weight: 500;
}
.swap-money-item.active {
    border: rgb(245, 139, 3) solid 1px;
}
.swap-money-value__item-content {
    display: flex;
    align-items: center;
    border: #ccc solid 1px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 50px;
    padding: 0 12px;
    margin-bottom: 12px;
}
.swap-money-value__item-input {
    width: 80%;
    border: none;
    background-color: transparent;
    outline: none;
}
.swap-money-value__item-nametag {
    color: #ccc;
    padding: 0 6px;
}
.swap-money-value__item-max {
    background-color: #49474a;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
}
.swap-money-info {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}
.swap-money-info__icon {
    color: #666;
    padding-right: 12px;
    font-size: 1rem;
}
.swap-money-info__content {
    font-size: 0.9rem;
}
.swap-money-button {
    color: rgb(255, 182, 40);
    background-color: #fff;
    border: rgb(255, 182, 40) solid 1px;
    outline: none;
    width: 100%;
    padding: 0 12px;
    transition: all linear 0.3s;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px 0;
}
.swap-money-button:hover {
    color: #fff;
    background-color: rgb(255, 182, 40);
}
.swap-phone-history__empty {
    color: #888;
    text-align: center;
    padding: 30px 0;
}
.swap-phone-history.empty .swap-phone-history__empty {
    display: block;
}
.swap-phone {
    margin-bottom: 40px;
}
/*swap-money*/
/* withdraw*/
.withdraw-vnd,
.withdraw-coin,
.withdraw-type-wallet__wapper {
    display: none;
}
.withdraw-vnd.active,
.withdraw-coin.active,
.withdraw-type-wallet__wapper.active {
    display: block;
}
.withdraw-type-wallet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.withdraw-type-wallet__item {
    border-radius: 5px;
    border: #ccc solid 1px;
    padding: 8px 12px;
    margin-right: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}
.withdraw-type-wallet__item.active {
    border: rgb(247, 215, 37) solid 1px;
}
/* withdraw*/
/*create-offer*/
.create-offer {
    font-family: Roboto;
}
.create-offer__title {
    font-weight: 500;
    padding: 16px 0;
}
.create-offer__action-button {
    border: #ccc solid 1px;
    transition: box-shadow .12s ease-in-out,transform .12s ease-in-out,-webkit-transform .12s ease-in-out;
    padding: 8px 20px;
    color: #666;
    font-weight: 500;
    border-radius: 20px;
    margin-right: 12px;
    outline: none;
    font-size: 1.2rem;
}
.create-offer__action-button:hover{
    transform: translateY(-2px);
}
.create-offer__action-button.active {
    background-color: #7d4bf1;
    color: #fff;
}
.create-offer__action-button--icon {
    color: #fff;
    visibility: hidden;
    font-size: 0.8rem;
    margin-left: 12px;
}
.create-offer__action-button.active .create-offer__action-button--icon {
    visibility: unset;
}
.create-offer__action-button--content {
    display: flex;
    align-items: center;
}
.create-offer__wapper {
    padding: 10px 16px;
    border-left: #9c71ff solid 2px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.create-offer__option-select {
    width: 50%;
    padding: 8px 12px;
    border: #ccc solid 1px;
    border-radius: 5px;
    color: #666;
    outline: none;
}
.create-offer__item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.create-offer__item-content {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-right: 12px;
}
.create-offer__item-content--value {
    display: flex;
    align-items: center;
}
.create-offer__item-content--value-input {
    flex: 1;
    border: transparent;
    background-color: #ccc;
    font-weight: 500;
    outline: none;
    padding: 8px 0;
    padding-left: 12px;
    border-radius: 5px;
    display: none;
}
.create-offer__item-content--value-text,
.create-offer__item-content--value-price {
    padding-left: 12px;
    font-weight: 500;
    color: #111;
}
.create-offer__item-content--value-input::placeholder {
    color: #111;
}
.create-offer__item-content--text {
    min-width: 130px;
}
.create-offer__item-content--value span {
    font-weight: 500;
}
.create-offer__item-edit {
    color: #7d4bf1;
    cursor: pointer;
    width: 80px;
}
.create-offer__item-edit:hover {
    text-decoration: underline;
}
.create-offer__create-button {
    background-color: #7d4bf1;
    color: #fff;
    border: #7d4bf1 solid 1px;
    transition: all linear 0.3s;
    padding: 8px 12px;
    border-radius: 5px;
}
.create-offer__create-button:hover {
    background-color: #fff;
    color: #7d4bf1;
}
.create-offer__item-content--select {
    padding: 6px 12px;
    outline: none;
    border-color: #ccc;
    width: 250px;
}
.create-offer__item-content--select-input {
    padding: 6px 12px;
    outline: none;
    border: #ccc solid 1px;
    width: 250px;
}
.transfer-name {
    display: none;
}


/* fix home*/
.main-header-banner {
    position: relative;
    height: 80vh;
    position: relative;
}
.main-header-wapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.main-header__title {
    font-size: 2.6rem;
    color: #333;
    padding-bottom: 20px;
}
.main-header__title span {
    font-size: 3.8rem;
    color: #fff;
    font-family: Quicksand;
    font-weight: 500;
    color: #7d4bf1;
}
.main-header-banner__list {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    padding: 30px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
.main-header-banner__link {
    color: #333;
    font-size: 0.8rem;
    transition: all linear 0.3s;
}
.main-header-banner__link-icon {
    font-size: 0.8rem;
    padding-right: 8px;
}
.main-header-banner__link:hover {
    color: #7d4bf1;
}
.menu-link__market:hover {
    background-color: #666;
    border: #666 solid 1px;
    color: #fff;
}
.home-title {
    color: #7d4bf1;
    font-family: Quicksand;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 20px;
}
.about-us-wapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-us__sub {
    text-align: center;
    font-size: 1.2rem;
    font-family: Roboto;
}
.about-us__sub span {
    color: #7d4bf1;
}

.item-content {
    display: flex;
    padding: 20px;
    overflow: hidden;
    background-color:rgb(247, 246, 255);
    border-radius: 10px;
    height: 180px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.about-us-list {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}
.about-us-item {
    text-align: center;
    padding: 30px 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    transition: all linear 0.3s;
}
.about-us-item__img {
    width: 60%;
}
.about-us-item__icon {
    font-size: 4rem;
    color: #7d4bf1;
}
.about-us-item__content {
    font-family: Roboto;
    font-weight: 500;
    padding: 0 16px;
    padding-top: 20px;
}
.home-wallet {
    margin: 30px 0;
}
.home-wallet-wapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-wallet__content-icon img {
    width: 40%;
}

.home-wallet__content-title {
    font-size: 20px;
    padding-top: 12px;
    font-weight: 500;
}
.home-product__item {
    display: flex;
    align-items: center;
    font-family: Roboto;
    padding-top: 60px;
    flex-wrap: wrap;
}
.home-product {
    border-top: #eee solid 1px;
    border-bottom: #eee solid 1px;
}
.home-product__list {
    padding: 80px 0;
}
.home-product__item-img--wapper {
    position: relative;
    margin: 30px 0 0 30px;
}
.home-product__item:nth-child(2n-2) {
    position: relative;
    margin: 0 30px 30px 0;
}
.home-product__item-img {
    width: 100%;
    height: 300px;
    background-size: cover;
}
.home-product__item-img--overlay {
    position: absolute;
    left: -30px;
    top: -30px;
    z-index: -1;
    max-width: 100%;
    height: auto;
}
.home-product__item:nth-child(2n-2) .home-product__item-img--overlay {
    position: absolute;
    left: auto;
    right: -30px;
    top: -30px;
    z-index: -1;
    max-width: 100%;
    height: auto;
}
.home-product__item-title {
    display: block;
    font-family: Quicksand;
    color: #7d4bf1;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    transition: all linear 0.3s;
}
.home-product__item-title:hover {
    opacity: 0.7;
    color: #7d4bf1;
    text-decoration: none;
}
.home-product__item-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #7d4bf1;
    color: #fff;
    border: #7d4bf1 solid 1px;
    border-radius: 5px;    
    transition: all linear 0.3s;
    margin-top: 12px;
    font-weight: 500;
}
.home-product__item-link:hover {
    background-color:  #fff;
    color:#7d4bf1;
    text-decoration: none;
}
.home-member-wapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.home-member-link {
    font-size: 1.2rem;
    padding: 12px 16px;
    display: inline-block;
    color: #9c71ff;
    border: #7d4bf1 solid 2px;
    background-color: #fff;
    transition: all linear 0.3s;
}
.home-member-link:hover {
    background-color:#9c71ff;
    color:  #fff;
}
.home-member {
    padding: 60px 0;
    background-color: #9c71ff;
}
.home-member__title {
    font-weight: 500;
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 20px;
}
.home-member__sub {
    color: #fff;
    font-size: 1rem;
}
.home-member__list {
    padding-left: 24px;
    color: #fff;
    font-size: 1rem;
}
.home-member__item {
    list-style: square;
}
.trending-wapper {
    background-color: rgb(244, 237, 242);
    padding: 30px 0;
}
.trending-list {
    display: flex;
    color: rgb(176, 142, 173);
    align-items: center;
    flex-wrap: wrap;
}
.trending-item__img {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    margin-bottom: 20px;
}
.trending-item__title {
    font-family: Quicksand;
    font-weight: 500;
    color: #4B3049;
    display: block;
    font-size: 1.4rem;
    transition: all linear 0.3s;
}
.trending-item__title:hover {
    color: rgb(176, 142, 173);
}
.trending-item__price {
    font-family: Roboto;
    padding-top: 12px;
}
.footer-bottom {
    background-color:rgb(244, 237, 242);
}
.footer-bottom-content {
    padding: 26px 0;
}
.footer-bottom-content__title {
    font-size: 1.2rem;
    color: #7d5882;
}
.footer-item-social {
    display: flex;
    align-items: center;
}
.footer-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9c71ff;
    border: #9c71ff solid 1px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0,3s;
    margin-right: 12px;
}
.footer-item-icon:hover {
    transform: scale(1.1);
}
.important-ques__title {
    font-size: 2.6rem;
    font-family: Quicksand;
    color: #7d4bf1;
    font-weight: 500;
}
.important-ques__send-input {
    width: 60%;
    border: #9c71ff solid 1px;
    background-color: #fff;
    padding: 12px;
    outline: none;
    margin: 20px 0;
}
.important-ques__send-button {
    background-color: #fff;
    color: #9c71ff;
    border: #9c71ff solid 1px;
    transition: all linear 0.3s;
    padding: 12px 20px;
}
.important-ques__send-button:hover {
    background-color: #9c71ff;
    color: #fff;
}
.change-password__wapper {
    display: flex;
    align-items: center;
}
.time-mail {
    color: #666;
    padding-right: 12px;
    font-weight: 500;
}
.confirm-wapper {
    display: flex;
    align-items: center;
}
.register-wapper {
    display: flex;
    flex: 1;
}
.signin-link__register {
    color: #7d5882;
    transition: all linear 0.3s;
}
.signin-link__register:hover{
    color: #7d5882;
    opacity: 0.8;
}
.button-confirm-wallet__wapper {
    display: flex;
    align-items: center;
}
.button-confirm-wallet__confirm {
    background-color: #299d82;
    color: #fff;
    border: #299d82 solid 1px;
}
.button-confirm-wallet__confirm:hover {
    color: #299d82;
    background-color: #fff;
}
.button-confirm-wallet__close {
    color: #fff;
    border: #ccc solid 1px;
    background-color: #ccc;
    margin-left: 12px;
}
.password-show {
    font-size: 0.8rem;
    color: #999;
    padding: 0 6px;
}
.password-show:hover {
    color: #333;
}
.button-confirm-wallet__close:hover {
    color: #fff;
    background-color: #ccc;
    opacity: 0.8;
}
#otp,
#btn-payment-bank-confirm {
    display: none;
}
.member-send-otp {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    align-items: center;
    padding-right: 12px;
}
.payment-wallet {
    display: block;
}
.payment-bank-deposit {
    display: block;
}
.menu-item__notify-count {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -6px;
    font-size: 0.6rem;
    border-radius: 50%;
    background-color: #fff;
    color: #7d4bf1;
    border: #7d4bf1 solid 1px;
}
.menu-mobile__notify-count {
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    right: -2px;
    font-size: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #7d4bf1;
    border: #7d4bf1 solid 1px;
}